<h3>予約内容</h3>

<% if @contact.time == 0 %>
  <p>
    <%= @contact.start_time %>   13:00~17:00
  </p>
  <p>
    <%= @contact.message %>が予約しました
  </p>
<% else %>
  <p>
    <%= @contact.start_time %>   17:00~22:00
  </p>
  <p>
    <%= @contact.message %>が予約しました
  </p>
<% end %>
------------------------------------------------
<p>email: <%= @contact.email %></p>

------------------------------------------------

<h3>予約サイト</h3>
https://reservation-site-7th-lab.herokuapp.com/
