ユーザ一覧
<table class="table table-striped", border="2">
  <thead>
    <tr>
      <th>名前</th>
      <th>カナ</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
      <th>退会させる</th>
    </tr>
  </thead>

  <tbody>
    <% @end_users.each do |end_user| %>
      <tr>
        <td><%= end_user.name %></td>
        <td><%= end_user.name_kana %></td>
        <td><%= end_user.telephone_number %></td>
        <td><%= end_user.email %></td>
        <td><%= link_to "退会する",admin_end_user_path(end_user.id), class: "destroy-end-user",method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>