<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/edb8a28ad6.js" crossorigin="anonymous"></script>
    <title>ReservationSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
        .table {
            table-layout: fixed;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    </style>
  </head>

  <body class="body">
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
